html {
  scroll-behavior: smooth;
}
// resolution
$pc: 1330px;
$tablet: 991.98px;
$mob: 767.98px;
$mobSmall: 479.98px;

//colors
$green: #0a231a;
$green-light: #103f2e;
$blue: #3a62d7;
$white: #ffffff;
$black: #000000;
$gray: #a5a19e;
$light: #f9fafc;
$light-blue: #bbcef2;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  img {
    display: none;
  }
}
