@import '_null.scss';
@import '_mixin';
@import '_popup';
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
html {
  &.lock {
    overflow: hidden;
  }
}
body {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  font-weight: 400;
  background: #e7e7e7;
  &._lock {
    overflow: hidden;
  }
  &.lock {
    overflow: hidden;
  }
}
main {
  flex: 100%;
}

[class*='__container'] {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0px 15px;
  @media (max-width: 375px) {
    padding: 0px 10px;
  }
}

@import '_foryou';
@import '_header';
@import '_intro';
@import '_catalog';
@import '_banner';
@import '_answer';
@import '_think';
@import '_about';
@import '_reviews';
@import '_cooperation';
@import '_contact';
@import '_stages';
@import '_footer';
